/* GENERAL */

html
{
    --res: calc(0.01*10vmin);
}

*
{
    font-family: Nunito Sans;
    
}


h1
{
    font-family: Quicksand;
    font-weight: bold;
}

h2
{
    font-family: Quicksand;
    font-weight: bold;
    color: #0B1460;
}

.btn-primary
{
    font-weight: bold;
    font-family: Quicksand;
    font-size: small;
    background-color: #2667FF;
}

.btn-primary:hover
{
    background-color: white;
    color: #0B1460;
    transition-duration: 0.2s ease;
    font-weight: bold;
}

/* NAVBAR */

.navbar
{
    color: rgba(0, 0, 0, 1);
}

.navbar img
{
    width: 7vw;
    margin-left: 15vw;
    margin-top: 0.5vw;
    position: sticky;
    position: relative;
    top: -25vw;
}

#navbar-menu
{
    margin-right: 15vw;
    margin-bottom: 10vw;
}
#navbar-menu a
{
    font-size: calc(25*var(--res));
    color: #0B1460;
    font-weight: bolder;
    text-align: center;
}

#navbar-menu button
{
    margin-left: 5vw;
    justify-content: end;

}

.navbar-toggler
{
    border: none;
}
.navbar-toggler-icon
{
    color: #0B1460 ;
    justify-content: center;
}
#navbar-menu a:hover
{
    color: #2667FF;
}

.navbar-nav button 
{
    font-size: calc(20*var(--res));
    width: fit-content;
    text-align: center;
}

@media (max-width: 800px)
{
    #navbar-menu
    {
        margin-right: 0vw;
    }
    .navbar>.container-fluid
    {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 5%;
    }

    .navbar-nav a, .navbar-nav button
    {
        font-size: calc(30*var(--res));
    }
    
}

/* HOME */ 

#home
{
    background-image:url('librairies/home/img-slider.png'), url('librairies/home/bgslider.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position:bottom right, center ;
    background-size: 45vw,  cover;
    height: 100vh;
    width: auto;
    display: flex;
    padding-top: 7vw;
}

@media (max-width: 600px) 

{
    #home
    {
        background-repeat: no-repeat, no-repeat;
        background-position: right;
        height: fit-content;
    }

    #home-pres
    {
        width:50vw;
        margin-left: -5vw;
    }
    #home-text
    {
        width:50vw;
        padding-bottom: 2vw;
    }
    #home h1
    {
        width: 80vw;
    }

    #home p
    {
        width: 50vw;
    }
} 


#home-pres
{
    margin-top: 10vw;
    height: auto;
}


#home-text
{
    margin-left: 15vw;
}

#home h1
{
    font-size: calc(65 * var(--res));
    text-transform: uppercase;
    color: #0B1460;
    width: 30vw ;
}

#home button
{
    width: fit-content;
    height: auto;
}


#home p
{
    font-size: calc(20* var(--res));
    font-weight: bold;
    color: #0B1460;
    width: 30vw;
}


/* OBJECTIFS */

#objectif /* image de fond et couleur de fond de la section objectif*/
{
    background-image: url('librairies/home/bg-1.png');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    background-color: #0B1460;
    color: #fff;
    max-height: 100vh;
}

/* taille et forme du texte et de la div contenant le texte*/

#objectif-text
{
    width: 30vw;
    height: auto;
    position: relative;
    right: -50%;
    padding-top: 8vw;
    padding-bottom: 7vw;
    font-size: calc(18 * var(--res));
    transform: translate(0,-20vw);
}

#objectif small
{
    color: #00fcef;
    font-weight: bold;
}

#fontaw
{
    display: flex;
    row-gap:initial;
    align-items: center;
}

#objectif .fa-chart-line
{
    color: #00fcef;
    margin-right: 2vw;
    font-size: 3vw;
    display: inline-block;
}

#objectif button
{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0,3);
    border-radius: 3%;
    color: white;
    font-size: calc(17*var(--res));
    font-weight: bold;
    width: 10vw;
    height: auto;
}

#objectif button:hover
{
    background-color: #fff;
    color: #0B1460;
    font-weight: bold;
    font-size: calc(17*var(--res));
    width: 10vw;
    height: auto;
}

/* superposition des photos, taille et placementau bon endroit */
#objectif img
{
    display: flex;
    position: relative;
}

#guyphoto
{
    z-index: 1;
    width: 21vw;
    transform: translate(7.5vw, 8vw);
    border-bottom-left-radius: 50% 20% ;
    border-bottom-right-radius: 50% 30% ;
}

.shape1
{
    width: 15vw;
    height: fit-content;
    z-index: 0;
    transform: translate(-18vw, 9vw);
}
.shape2
{
    z-index: 0;
    width: 24vw;
    height: fit-content;
    transform: translate(-30vw, 14.5vw)
}


/* SERVICE */

#service
{
    margin-bottom: 3vw;
}
#service .heading
{
    text-align: center;
    margin-top: 4vw;
}

#service h1
{
    color: #0B1460;
    font-size: calc(50 * var(--res));
    font-weight: bolder;
}

#service p
{
    color:#2667FF;
    font-size: calc(20 * var(--res));
    font-weight: bold;
    margin-top: 2vw;
}

#block-carte
{
    float: left;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-gap: 1vw;
    margin-left: 4vw;
}

#service .carte
{
    background-color: #f5f5f5;
    width: fit-content;
    height: auto;
    text-align: center;
    margin-top: 5vw;
    border-radius: 3%;
}

#service .carte img
{
    padding: 3vw 5vw;
}

#service .carte h2
{
    font-size: calc(30 * var(--res));

}

#service .carte small
{
    padding-bottom: 3vw;
}


#illustration-service
{
    float: right;
}
#illustration-service img
{
    width: 35vw;
    height: auto;
}

/* PORTFOLIO */

#portfolio
{
    background-color: #faf8f8;
    padding-bottom: 5vw;
}

#portfolio .heading
{
    text-align: center;
    padding-top: 4vw;
}

#portfolio .heading h1
{
    color: #0B1460;
    font-weight: bolder;
    font-size: calc(50 * var(--res));
}

#portfolio .heading p
{
    color: #2667FF;
    padding-top: 2vw;
    font-weight: bold;
    font-size: calc(20 *var(--res));
}

#illustration-portfolio
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.portfolio-carte
{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: fit-content;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    margin: 1vw;
}
.portfolio-carte img
{
    width: 17vw;
}

.portfolio-carte h2
{
    padding: 2vw 0 0 2vw;
    font-size: calc(25*var(--res));
}

.portfolio-carte small
{
    padding: 2vw 0 0 2vw;
    font-size: calc(20*var(--res));
}

/* REMARK */ 

#remark
{
    padding-top: 7vw;
    padding-bottom: 7vw;
}

#remark-content
{
   display: flex;
   flex-direction: row; 
   justify-content: space-evenly;
}
#remark_img img
{
    width: 50%;
    height: auto;
}

#client-remark
{
    width: 25vw;
}

#client-remark h1
{
    color: #0B1460;
    font-weight: bold;
    font-size: calc(50 * var(--res));
    font-weight: bolder;
}

#client-remark .heading p
{
    color: #2667FF;
    font-weight: bold;
    font-size: calc(20*var(--res));
    padding: 1vw 0;
}

#client-comment
{
    font-size: calc(22*var(--res));
    font-style: italic;
    font-weight: bolder;
    color: #0B1460;
    border: #dbdbdb solid 1px;
    padding: 1vw;
}

#user
{
    display: flex;
    flex-direction: row;
}

#user img
{
    width: 7vw;
    height: auto;
    border-radius: 100%;
    padding: 1vw;
}

#user h2
{
    font-size:calc(30 * var(--res));
    margin-top: 2vw;
    font-weight: bolder;
}

#user p
{
    color: #2667FF;
    font-weight: bold;
    font-style: calc(20 * var(--res));
}

#user-name
{
    display: flex;
    flex-direction: column;
}

#remark .fa-circle
{
    font-size: small;
    color:#2667FF;
}
#remark .fa-ellipsis-h
{
    color:#2667FF;
}


/* CONTACT*/

/*paragraphe et descritpion de la section contact*/
#contact
{
    background-image: url('librairies/home/bg-2.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #2667FF;
    height: auto;
    padding-bottom: 5vw;
}

#contact-content
{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    padding-top: 7vw;
}

#contact-desc
{
    width: 25vw;
    color: white;
    margin-right: 4vw;
}

#contact-desc .heading h1
{
    font-size: calc(60 * var(--res));
    font-weight: bolder;
}

#contact-desc .heading p
{
    font-size: calc(20* var(--res));
    font-weight: bold;
    padding-top: 1vw;
}

#contact-text
{
    font-size: calc(19 * var(--res));
}
#number
{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
#number :first-child
{
    margin-right: 3vw;
}
#number h1
{
    font-size: calc(40 * var(--res));
    font-weight: bold;
}
#number p
{
    font-size: calc(18 * var(--res));
    font-family: Quicksand;
    font-weight: bold;
}
/* mise en forme du formulaire de contact*/

#contact form
{
    display: flex;
    flex-direction: column;
    width: 25vw;
    max-height:fit-content;
    background-color: #fff;
    border-radius: 5%;
    padding: 3vw;
}
#contact form h1
{
    font-size: calc(40 * var(--res));
    font-weight: bolder;
    color: #0B1460;
}

#contact form small
{
    color: #c4c4c4;
    font-size: calc(17*var(--res));
}

#contact .form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: #f5f5f5;
    width: auto;
}
#contact .form input, #contact .form select
{
    margin: 1vw;
    width: 15vw;
    height: 2.7vw;
    border-radius: 2%;
    border: #dbdbdb 1px solid;
    background-color:#e9efff;
}

#contact .form ::placeholder, #contact .form :optional
{
    padding-left: 1vw;
    font-family: Quicksand;
    font-weight: bold;
    color: rgba(11, 20, 96, 0.4);
    font-size: calc(20*var(--res));
}

#contact .form :optional
{
    padding-left: 1vw;
    font-family: Quicksand;
    font-weight: bold;
    color: #0B1460;
    font-size: calc(20*var(--res));
}

#contact .form button
{
    color: #fff !important;
    font-weight: bold;
}

#contact .form button:hover
{
    color: #0B1460 !important;
    font-weight: bold;
}

/* BLOG AND NEWS*/

#blog
{
    padding-bottom: 7vw;
}

#blog .heading
{
    text-align: center;
    margin-top: 7vw;
}

#blog .heading h1 
{
    color: #0B1460;
    font-weight: bolder;
    margin-bottom: 1vw;
    font-size: calc(50*var(--res));
}

#blog .heading p
{
    color: #2667FF;
    font-weight: bold;
    font-size: calc(20*var(--res));
}

#blog-content
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 6vw;
    padding-top: 3vw;
}

.blog_carte
{
    width: 20vw;

}

.blog_carte h2
{
    font-size: calc(32 * var(--res));
    color: #0B1460;
    font-weight: bolder;
}

.blog-date
{
    display: flex;
    flex-direction: row;

}

.blog-date h3
{
    font-size: calc(22*var(--res));
    color: #0B1460;
    font-weight: bold;
}

.blog-date .fa-calendar-alt
{
    color: #2667FF;
    margin-right: 1vw;
}


.blog_carte p 
{
    font-weight: bold;
    color: black;
    padding-top: 1vw;
}

.blog_carte .btn-secondary
{
    color: #0B1460;
    background-color: #e9efff;
    border: none;
}

.blog_carte .btn-secondary:hover
{
    color: #0B1460;
    background-color: #fff;
    border: #0B1460 1px solid;
}

/* LEARN */

#learn
{
    background-image: url('librairies/home/bg-3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0B1460;
    padding: 7vw 0;
}

#learn-content
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#learn-text
{
    width: 40vw;
}

#learn-content .heading h1
{
    color: #fff;
    font-size: calc(60*var(--res));
    font-weight: bolder;
}

#learn-content .heading p
{
    color: #00fcef;
    font-size: calc(20*var(--res));
}

#update
{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#update .fa-dot-circle
{
    color: #ceab12;
}

#update p
{
    color: #fff;
    margin-left: 0.5vw;
}

#learn-text .btn-primary
{
    color: #fff;
}

#learn-text .btn-primary:hover
{
    color: #0B1460;
    border: #0B1460 1px solid;
    font-weight: bolder;
}

#learn-content img
{
    width: 20vw;
}

/*FOOTER */

#menu-content
{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-evenly;
    padding-top: 4vw;
    margin-bottom: 5vw;
}

.menu
{
    width: 15vw;
    line-height: 3vw;
}

.menu h3
{
    color: #0B1460;
    font-size: calc(32*var(--res));
    font-weight: bolder;
}

.menu h4
{
    color: #0B1460;
    font-size: calc(25*var(--res));
    font-weight: bold;

}

#menu-phone
{
    display: flex;
    flex-direction: row;
}

#menu-phone p
{
    font-size: calc(20*var(--res));
    color: #2667FF;
    font-weight: bold;
    margin-left: 1vw;
}

#menu-link
{
    display: flex;
    flex-direction: column;
    cursor:pointer;
}
.menu small
{
    font-size: calc(18*var(--res));
}

#social-media
{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#social-media i
{
    margin: 0.5vw;
    font-size: 1vw;
}

#copyright
{
    text-align: center;
    padding: 1.5vw;
    margin-bottom: 1vw;
    background-color: #f5f5f5;
}

