/* GENERAL */

html
{
    --res: calc(0.01*10vmin); /*fonction pour rendre le texte responsive selon un pourcentage de la largeur de l'écran*/
    scroll-behavior: smooth;
}

*
{
    font-family: Nunito Sans;
    
}


h1
{
    font-family: Quicksand;
    font-weight: bold;
}

h2
{
    font-family: Quicksand;
    font-weight:bolder;
    color: #0B1460;
}

.btn-primary
{
    font-weight: bold;
    font-family: Quicksand;
    font-size: small;
    background-color: #2667FF;
}

.btn-primary:hover
{
    background-color: white;
    color: #0B1460;
    transition-duration: 0.2s ease;
    font-weight: bold;
}

/* NAVBAR */

#navbar 
{
    width: 100%;
}

.navbar
{
    color: rgba(0, 0, 0, 1);
    justify-content: center;
    margin-left: 25vw;
    padding-top: 1vw;
}


#navbar-menu a
{
    font-size: calc(25*var(--res));
    color: #0B1460;
    font-weight: bolder;
    text-align: center;
}

#navbar-menu button
{
    margin-left: 5vw;
    height: 4vw;
    width: fit-content;
}

.navbar-toggler
{
    border: none;
}
.navbar-toggler-icon
{
    font-style: none;
    color: #2667FF;
}
#navbar-menu a:hover
{
    color: #2667FF;
}
#navbar-menu .btn-primary
{
    background-color: #2667FF;
}

#navbar-menu .btn-primary
{
    background-color: #fff;
    color:#2667FF;
}
.navbar-nav button 
{
    font-size: calc(20*var(--res));
    width: fit-content;
    text-align: center;
}


.navbar a
{
    font-size: calc(20 * var(--res));
    color: #0B1460 !important;
    font-weight: bold
}

.navbar a:hover, .navbar li.active a
{
    font-size: calc(25 * var(--res));
    color: #2667FF !important;
    font-weight: bold;
}

.navbar button
{
    margin-left: 5vw;
    width: 8vw;
    height: 2vw;
    background-color: #fff;
}




/* HOME */ 

#home
{
    background-image:url('librairies/home/img-slider.png'), url('librairies/home/bgslider.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position:bottom right, center ;
    background-size: 45vw,  cover;
    height: 100vh;
    width: auto;
    display: flex;
    padding-top: 7vw;
}
#home img
{
    width: 10vw;
    margin-left: 15vw;
    margin-top: 0.5vw;
    position: sticky;
}

@media (max-width: 600px) 

{
    #home
    {
        background-repeat: no-repeat, no-repeat;
        background-position: right;
        height: fit-content;
    }

    #home .row
    {
        display: flex;
        flex-direction: column;
    }

    #home img
    {
        width: 15vw;
    }

    #home-pres
    {
        width: 50vw;
        margin-left: 10vw;
    }
    #home-text
    {
        width:50vw;
        padding-bottom: 2vw;
    }
    #home h1
    {
        width: 50vw !important;
        font-size: calc(45*var(--res)) !important;
    }

    #home p
    {
        width: 50vw;
    }
} 

@media (max-width: 768px) 
{
    #home
    {
        background-position: right;
        height: fit-content;
        padding-bottom: 2vw;
    }
    #home-text
    {
        margin-left: 3vw !important;
    }
    #home img
    {
        width: 12vw;
    }
}


#home-pres
{
    margin-top: 2vw;
    height: auto;
}


#home-text
{
    margin-left: 15vw;
}

#home h1
{
    font-size: calc(65 * var(--res));
    text-transform: uppercase;
    color: #0B1460;
    width: 30vw ;
}

#home button
{
    width: fit-content;
    height: auto;
}


#home p
{
    font-size: calc(20* var(--res));
    font-weight: bold;
    color: #0B1460;
    width: 30vw;
}


/* OBJECTIFS */

#objectif /* image de fond et couleur de fond de la section objectif*/
{
    background-image: url('librairies/home/bg-1.png');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    background-color: #0B1460;
    color: #fff;
    max-height: 100vh;
}

/* taille et forme du texte et de la div contenant le texte*/

#objectif-text
{
    width: 30vw;
    height: auto;
    position: relative;
    right: -50%;
    padding-top: 8vw;
    padding-bottom: 7vw;
    font-size: calc(18 * var(--res));
    transform: translate(0,-20vw);
}

#objectif small
{
    color: #00fcef;
    font-weight: bold;
}

#fontaw
{
    display: flex;
    row-gap:initial;
    align-items: center;
}

#objectif .fa-chart-line
{
    color: #00fcef;
    margin-right: 2vw;
    font-size: 3vw;
    display: inline-block;
}

#objectif button
{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0,3);
    border-radius: 3%;
    color: white;
    font-size: calc(17*var(--res));
    font-weight: bold;
    width: 10vw;
    height: auto;
}

#objectif button:hover
{
    background-color: #fff;
    color: #0B1460;
    font-weight: bold;
    font-size: calc(17*var(--res));
    width: 10vw;
    height: auto;
}

/* superposition des photos, taille et placementau bon endroit */
#objectif img
{
    display: flex;
    position: relative;
}

#guyphoto
{
    z-index: 1;
    width: 21vw;
    transform: translate(7.5vw, 8vw);
    border-bottom-left-radius: 50% 20% ;
    border-bottom-right-radius: 50% 30% ;
}

.shape1
{
    width: 15vw;
    height: fit-content;
    z-index: 0;
    transform: translate(-18vw, 9vw);
}
.shape2
{
    z-index: 0;
    width: 24vw;
    height: fit-content;
    transform: translate(-30vw, 14.5vw)
}

@media (max-width: 440px)
{
    #objectif
    {
        display: flex;
        flex-direction: column;
    }

    #objectif-content
    {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    #objectif-text
    {
        position: relative;
        transform: translate(-30vw, 5vw);
        width: 50vw;
        font-size: calc(25 * var(--res));

    }

    #objectif h1
    {
        font-size: calc(0.75rem + 1.5vw);
    }

    #objectif button
    {
        width: 20vw;
    }

    #fontaw
    {
        display: flex;
        flex-direction: column;
    }

    #guyphoto
    {
        transform: translate(33vw, 8vw);
        width: 35vw;
    }

    .shape1
    {
        width: 23vw;
        transform: translate(0.5vw, 12vw);
    }

    .shape2
    {
        width: 37vw;
        margin-top: 7vw;
        right: -3vw;
    }

    #objectif .fa-chart-line
    {
        font-size: calc(45*var(--res));
    }

    
}




/* SERVICE */

#service
{
    margin-bottom: 3vw;
}
#service .heading
{
    text-align: center;
    margin-top: 4vw;
}

#service h1
{
    color: #0B1460;
    font-size: calc(50 * var(--res));
    font-weight: bolder;
}

#service-body
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#service p
{
    color:#2667FF;
    font-size: calc(20 * var(--res));
    font-weight: bold;
    margin-top: 2vw;
}

.block-carte
{
    display: flex;
    flex-direction: column;
}

#service .carte
{
    background-color: #f5f5f5;
    width: fit-content;
    height: auto;
    text-align: center;
    margin: 1vw 2vw 0 0;
    border-radius: 3%;
}

#service .carte img
{
    padding: 3vw 5vw;
}

#service .carte h2
{
    font-size: calc(30 * var(--res));

}

#service .carte small
{
    padding-bottom: 3vw;
    font-size: calc(30*var(--res));
}


#illustration-service
{
    margin-left: 4vw;
}
#illustration-service img
{
    width: 30vw;
    height: auto;
}


@media (max-width: 768px)
{
    #service-body
    {
        display: flex;
        flex-direction: column;  
    }
    .block-carte
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #illustration-service img
    {
        margin-left:13vw;
        width: 60vw;
    }
}

@media (max-width: 440px)
{
    #service-body
    {
        display: flex;
        flex-direction: column;
    }
    .block-carte
    {
        display: flex;
        flex-direction: column;
    }

    #service .carte
    {
        width: auto;
        margin-bottom: 2vw;
    }

    #illustration-service
    {
        margin-left: 10vw;
    }

    #illustration-service img
    {
        width: 60vw;
    }
    #service .carte h2
    {
        font-size: calc(45 * var(--res));
    }


}

/* PORTFOLIO */

#portfolio
{
    background-color: #faf8f8;
    padding-bottom: 5vw;
}

#portfolio .heading
{
    text-align: center;
    padding-top: 4vw;
}

#portfolio .heading h1
{
    color: #0B1460;
    font-weight: bolder;
    font-size: calc(50 * var(--res));
}

#portfolio .heading p
{
    color: #2667FF;
    padding-top: 2vw;
    font-weight: bold;
    font-size: calc(20 *var(--res));
}

#illustration-portfolio
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bloc-portfolio
{
    display: flex;
    flex-direction: row;
}

.portfolio-carte
{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: fit-content;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    margin: 1vw;
}
.portfolio-carte img
{
    width: 17vw;
}

.portfolio-carte h2
{
    padding: 2vw 0 0 2vw;
    font-size: calc(25*var(--res));
}

.portfolio-carte small
{
    padding: 2vw 0 0 2vw;
    font-size: calc(20*var(--res));
}
@media (max-width: 768px)
{
    .bloc-portfolio
    {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }
    #illustration-portfolio
    {
        width: fit-content;
        justify-content: center;margin: 0 auto;
    }

    .portfolio-carte
    {
        width: 40vw;
        text-align: center;
        margin: 1vw 1vw;
    }
    .portfolio-carte img 
    {
        width: 40vw;
    }
}

@media (max-width: 440px)
{
    .bloc-portfolio
    {
        display: flex;
        flex-direction: column;
    }

    .bloc-portfolio
    {
        display: flex;
        flex-direction: column;
    }

    #illustration-portfolio
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

/* REMARK */ 

#remark
{
    padding-top: 7vw;
    padding-bottom: 7vw;
}

#remark-content
{
   display: flex;
   flex-direction: row; 
   justify-content: space-evenly;
}
#remark_img img
{
    width: 23vw;
    height: auto;
}

#client-remark
{
    width: 25vw;
}

#client-remark h1
{
    color: #0B1460;
    font-weight: bold;
    font-size: calc(50 * var(--res));
    font-weight: bolder;
}

#client-remark .heading p
{
    color: #2667FF;
    font-weight: bold;
    font-size: calc(20*var(--res));
    padding: 1vw 0;
}

#client-comment
{
    font-size: calc(22*var(--res));
    font-style: italic;
    font-weight: bolder;
    color: #0B1460;
    border: #dbdbdb solid 1px;
    padding: 1vw;
}

#user
{
    display: flex;
    flex-direction: row;
}

#user img
{
    width: 7vw;
    height: auto;
    border-radius: 100%;
    padding: 1vw;
}

#user h2
{
    font-size:calc(30 * var(--res));
    margin-top: 2vw;
    font-weight: bolder;
}

#user p
{
    color: #2667FF;
    font-weight: bold;
    font-style: calc(20 * var(--res));
}

#user-name
{
    display: flex;
    flex-direction: column;
}

#remark .fa-circle
{
    font-size: small;
    color:#2667FF;
}
#remark .fa-ellipsis-h
{
    color:#2667FF;
}

@media (max-width: 768px)
{
    #remark-content
    {
    display: flex;
    flex-direction: column; 
    }
    #remark_img 
    {
        text-align: center;
    }
    #remark_img img
    {
        width: 100%;
    }

    #client-remark
    {
        width: 50vw;
    }

#client-remark h1
    {
        color: #0B1460;
        font-weight: bold;
        font-size: calc(50 * var(--res));
        font-weight: bolder;
        margin-top: 2vw;
    }
    
    #client-comment-area
    {
        width: 80vw;
    }
    #client-comment
    {
        font-size: calc(22*var(--res));
        font-style: italic;
        font-weight: bolder;
        color: #0B1460;
        border: rgba(235, 235, 235, 0,3) solid 1px;
        padding: 1vw;
        width: fit-content;
    }

    #user img
    {
        width: 15vw;
        height: auto;
        border-radius: 100%;
        padding: 1vw;
    }
}

@media (max-width:440px)
{
    
    #client-remark 
    {
        width: 100%;
    }
    #client-remark h1
    {
        font-size: calc(70*var(--res));
    }
    
    #user
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    #user-name
    {
        width: 100%;
    }

    #user img
    {   
        margin: 0 auto;
    }
    #client-comment-area
    {
        width: 50vw;
        height: auto;
        margin-left: 27vw;
    }
    #client-comment
    {
        text-align: center;
    }
}


/* CONTACT*/

/*paragraphe et descritpion de la section contact*/
#contact
{
    background-image: url('librairies/home/bg-2.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #2667FF;
    height: auto;
    padding-bottom: 5vw;
}

#contact-content
{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    padding-top: 7vw;
}

#contact-desc
{
    width: 25vw;
    color: white;
    margin-right: 4vw;
}

#contact-desc .heading h1
{
    font-size: calc(60 * var(--res));
    font-weight: bolder;
}

#contact-desc .heading p
{
    font-size: calc(20* var(--res));
    font-weight: bold;
    padding-top: 1vw;
}

#contact-text
{
    font-size: calc(19 * var(--res));
}
#number
{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
#number :first-child
{
    margin-right: 3vw;
}
#number h1
{
    font-size: calc(40 * var(--res));
    font-weight: bold;
}
#number p
{
    font-size: calc(18 * var(--res));
    font-family: Quicksand;
    font-weight: bold;
}
/* mise en forme du formulaire de contact*/

#contact form
{
    display: flex;
    flex-direction: column;
    width: 25vw;
    max-height:fit-content;
    background-color: #fff;
    border-radius: 5%;
    padding: 3vw;
}
#contact form h1
{
    font-size: calc(40 * var(--res));
    font-weight: bolder;
    color: #0B1460;
}

#contact form small
{
    color: #c4c4c4;
    font-size: calc(17*var(--res));
}

#contact .form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: #f5f5f5;
    width: auto;
}
#contact .form input, #contact .form select
{
    margin: 1vw;
    width: 15vw;
    height: 2.7vw;
    border-radius: 2%;
    border: none;
    background-color:#e9efff;
}

#contact .form ::placeholder, #contact .form :optional
{
    padding-left: 1vw;
    font-family: Quicksand;
    font-weight: bold;
    color: rgba(11, 20, 96, 0.4);
    font-size: calc(20*var(--res));
}

#contact .form :optional
{
    padding-left: 1vw;
    font-family: Quicksand;
    font-weight: bold;
    color: #0B1460;
    font-size: calc(20*var(--res));
}

#contact .form button
{
    color: #fff !important;
    font-weight: bold;
}

#contact .form button:hover
{
    color: #0B1460 !important;
    font-weight: bold;
}

@media (max-width: 768px)
{
    #contact-content
    {
        display: flex;
        flex-direction: column;
        margin-left: 5vw;
    }
    #contact-desc
    {
        width: 35vw;
        color: white;
        margin-right: 4vw;
    }

    #contact-desc h1
    {
        font-size: calc(75*var(--res));
    }

    #contact-desc .heading p
    {
        font-size: calc(25* var(--res));
        font-weight: bold;
        padding-top: 1vw;
        width: 50vw;
    }

    #contact-text
    {
        font-size: calc(22 * var(--res));
        width: 80vw;
    }

    #number :first-child
    {
        margin-right: 12vw;
    }
    #number h1
    {
        font-size: calc(40 * var(--res));
        font-weight: bold;
    }
    /*Mise en forme du formulaire responsive*/
    #contact form
    {
        width: 80vw;
    }

    #contact .form input, #contact .form select
    {
        width: 70vw;
        height: 4vw;
    }

}

@media (max-width:440px)
{
    #number
    {
        display: flex;
        flex-direction: column;
    }
}

/* BLOG AND NEWS*/

#blog
{
    padding-bottom: 7vw;
}

#blog .heading
{
    text-align: center;
    margin-top: 7vw;
}

#blog .heading h1 
{
    color: #0B1460;
    font-weight: bolder;
    margin-bottom: 1vw;
    font-size: calc(50*var(--res));
}

#blog .heading p
{
    color: #2667FF;
    font-weight: bold;
    font-size: calc(20*var(--res));
}

#blog-content
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 6vw;
    padding-top: 3vw;
}

.blog_carte
{
    width: 20vw;
}

.blog_carte h2
{
    font-size: calc(32 * var(--res));
    color: #0B1460;
    font-weight: bolder;
}

.blog-date
{
    display: flex;
    flex-direction: row;

}

.blog-date h3
{
    font-size: calc(22*var(--res));
    color: #0B1460;
    font-weight: bold;
}

.blog-date .fa-calendar-alt
{
    color: #2667FF;
    margin-right: 1vw;
}

.blog_carte img
    {
        width: 20vw;
    }


.blog_carte p 
{
    font-weight: bold;
    color: black;
    padding-top: 1vw;
}

.blog_carte .btn-secondary
{
    color: #0B1460;
    background-color: #e9efff;
    border: none;
    width: 20vw;
}

.blog_carte .btn-secondary:hover
{
    color: #0B1460;
    background-color: #fff;
    border: #0B1460 1px solid;
}

@media (max-width:768px)
{
    #last-news-card
    {
        display: none;
    }

    .blog_carte h2
    {
        font-size: calc(27 * var(--res));
        color: #0B1460;
        font-weight: bolder;
    }  
        .blog-date h3     
    {
        font-size: calc(18*var(--res));
        color: #0B1460;
        font-weight: bold;
    }

    .blog_carte p 
    {
        font-size: calc(22* var(--res));
    }
    .blog_carte
    {
        width: 25vw;
    }
    .blog_carte img
    {
        width: 30vw;
    }
}

@media (max-width:440px)
{
    #second-news-card
    {
        display: none;
    }
}


/* LEARN */

#learn
{
    background-image: url('librairies/home/bg-3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0B1460;
    padding: 7vw 0;
}

#learn-content
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#learn-text
{
    width: 40vw;
}

#learn-content .heading h1
{
    color: #fff;
    font-size: calc(60*var(--res));
    font-weight: bolder;
}

#learn-content .heading p
{
    color: #00fcef;
    font-size: calc(20*var(--res));
}

#update
{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#update .fa-dot-circle
{
    color: #ceab12;
}

#update p
{
    color: #fff;
    margin-left: 0.5vw;
}

#learn-text .btn-primary
{
    color: #fff;
}

#learn-text .btn-primary:hover
{
    color: #0B1460;
    border: #0B1460 1px solid;
    font-weight: bolder;
}

#learn-content img
{
    width: 20vw;
}

@media (max-width: 768px)
{
    #learn-content
    {
        display: flex;
        flex-direction:column;
        justify-content: space-evenly;
        margin-left: 4vw;
    }

    #learn-content .heading h1
    {
        color: #fff;
        font-size: calc(60*var(--res));
        font-weight: bolder;
        width: 80vw;
    }

    #learn-img
    {
        width: 100%;
        text-align: center;
    }

    #learn-img img
    {
        width: 30vw;
    }
}

@media (max-width: 440px)
{
    #learn-content .heading p
    {
        width: 80vw;
    }

}

/*FOOTER */

#menu-content
{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-evenly;
    padding-top: 4vw;
    margin-bottom: 5vw;
}

.bloc-menu
{
    display: flex;
    flex-direction: row;
}

.menu
{
    width: 15vw;
    line-height: 3vw;
}

.menu h3
{
    color: #0B1460;
    font-size: calc(32*var(--res));
    font-weight: bolder;
}

.menu h4
{
    color: #0B1460;
    font-size: calc(25*var(--res));
    font-weight: bold;

}

#menu-phone
{
    display: flex;
    flex-direction: row;
}

#menu-phone p
{
    font-size: calc(20*var(--res));
    color: #2667FF;
    font-weight: bold;
    margin-left: 1vw;
}

#menu-link
{
    display: flex;
    flex-direction: column;
    cursor:pointer;
}
.menu small
{
    font-size: calc(18*var(--res));
}

#social-media
{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#social-media i
{
    margin: 0.5vw;
    font-size: 1vw;
}

#copyright
{
    text-align: center;
    padding: 1.5vw;
    margin-bottom: 1vw;
    background-color: #f5f5f5;
}

@media (max-width:768px)
{
    .bloc-menu
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (max-width:440px)
{
    .bloc-menu
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #menu-content
    {
        display: flex;
        flex-direction: column;
        margin-left: 5vw;
    }

    #menu small
    {
        font-size:calc(25*var(--res));
    }
}
